html {
    scroll-behavior: smooth;
}
.body1 {
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, rgb(69, 0, 0), rgb(255, 0, 0));    
    color: white;
}
.footerbakgrunnur {
    background-image:linear-gradient(to bottom,rgb(139, 0, 0),rgb(139, 0, 0, 1));
    background-color:darkred;
}
.footerhlutir {
    display:grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    row-gap: 1rem;
}
.media {
    display:grid;
    grid-template-columns: auto;
}
.kort {
    width:100%;
    max-width: 600px;
    height:auto;
}
.footerhlutir a {
color:rgb(195, 195, 195);
text-shadow: 0 -2px 8px rgb(0, 0, 0);
}
.bakgrunnur1 {
    background-image:linear-gradient(to bottom,rgb(81, 15, 15),rgb(67, 0, 0, 0.867));
    padding: 1rem;
}
.body2 {
        margin: 0;
        background-color:darkred;
}
.body3 {
    margin: 0;
    background-color:darkred;   
    color: white;
}
iframe {
    display:block;
    margin:0 auto;

}
.linkur1 {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
img {
     max-width: 100%;
     height: auto;
}
figure {
    margin:0;
}
figure img {
    display:block;
}
figcaption {
    text-shadow: 0 -2px 8px rgb(0, 0, 0);
    color:rgb(255, 0, 0);
}
.mickgrid {
    display:grid;
    grid-template-columns: 1fr;
    gap:2rem;
}
header {
    margin: bottom -20px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
header h1 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 -2px 8px rgb(255, 0, 0);
    color: rgb(255, 166, 65);
    font-size:4rem;
}
a {
    text-shadow: 0 -2px 8px rgb(255, 0, 0);
    color: rgb(254, 65, 65);
    text-decoration: none;
}
a:visited {
    text-shadow: 0 -2px 8px rgb(136, 42, 42);
    color: rgb(254, 65, 65);
}
a:hover, a:active {
    color: #000;
    text-decoration: none;
}

.bil {
    margin-top:-30px;
    padding:40px;
}
.mickgrid p {
    text-shadow: 0 -2px 8px rgb(0, 0, 0);
    color:rgb(255, 0, 0);
}
.mickaudio {
 display: block; 
  margin-left: auto; 
  margin-right: auto;
  position: relative;
}
.transparent {
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.823), rgb(112, 0, 0));
}

@media screen and (min-width:37.5rem) and (max-width:48rem) {
    .linkur1 {
    flex-direction: row;
    justify-content: space-evenly;
}
.footerhlutir{
    grid-template-columns: 1fr 1fr 1fr;
}
.mickgrid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}
}

@media screen and (min-width:48rem) {
.footerhlutir    {
grid-template-columns: 1fr 1fr 1fr;
}
.mickgrid{
        grid-template-columns: 1fr 1fr;
    gap:2rem;
}
    .linkur1 {
    flex-direction: row;
    justify-content: space-evenly;
}

 }
@media screen and (min-width:60rem) {
    .footerhlutir {
        gap: 1rem;
        row-gap: 1rem;
    }
    .mickgrid {
        grid-template-columns: 2fr 1fr;
        gap:2rem
    }

}
@media screen and (min-width:80rem) {
    body {
        font-size: 1.4rem;
    }
    .mickgrid, .footerhlutir {
        max-width:80rem;
        margin: 0 auto;
    }
    header h1 {
        font-size: 6rem;
    }
}
@media screen and (min-width:100rem) {
    .mickgrid,.footerhlutir {
        max-width:90rem;
    }
}